<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-2">
            <h1>Maquetado página</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Ejemplo</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Pruebas</h6>
                  <p class="card-text">Maquetando con angular y bootstrap.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Formulario</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Pruebas formulario</h6>
                  <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">favor ingresar su correo.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-5">

        </div>
    </div>
    
</div>
